body {
	margin: 0;
	padding: 0;
	background: #FFFFEE;
	font-size: 12px;
	overflow: auto;
}

#mainDiv{
	width: 100%;
	height: 100%;
}

#loveHeart {
	/* float: left; */
	width: 670px;
	height: 625px;
	position: absolute;
	right: 20px;
	top:0;
	z-index: 100;
}

#garden {
	width: 100%;
	height: 100%;
}

#elapseClock {
	text-align: right;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#elapseClock .digit {
	font-family: "digit";
	font-size: 36px;
}

#loveu {
	padding: 5px;
	font-size: 22px;
	margin-top: 80px;
	margin-right: 120px;
	text-align: right;
	display: none;
}

#loveu .signature {
	margin-top: 10px;
	font-size: 20px;
	font-style: italic;
}

/*#clickSound{
	display: none;
}*/

#words {
	font-family: "sans-serif";
	width: 500px;
	font-size: 24px;
	color: #666;
}

#messages{
	display: none;
}

/* #photo{
	width: 200px;
    height: 50px;
    border: 1px solid red;
} */

.container {
	/* margin: 50px auto; */
	width: 400px;
	height: 250px;
	overflow: hidden;
	border: 10px solid;
	border-top-color: #856036;
	border-left-color: #5d4426;
	border-bottom-color: #856036;
	border-right-color: #5d4426;
	position: relative;
  }
  
  /* .photo {
	position: absolute;
	animation: round 16s infinite;
	opacity: 0;
  } */
  
  /* @keyframes round {
	25% {
	  opacity: 1;
	}
	40% {
	  opacity: 0;
	}
  }
  img:nth-child(1) {
	animation-delay: 12s;
  }
  
  img:nth-child(2) {
	animation-delay: 8s;
  }
  
  img:nth-child(3) {
	animation-delay: 4s;
  }
  
  img:nth-child(4) {
	animation-delay: 0s;
  }
   */

#code {
	float: left;
	width: 440px;
	color: #333;
	font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", "sans-serif";
	font-size: 12px;
}

#code .string{
	color: #2a36ff;
}

#code .keyword{
	color: #7f0055;
	font-weight: bold;
}

#code .placeholder{
	margin-left: 15px;
}

#code .space {
	margin-left: 7px;
}

#code .comments {
	color: #3f7f5f;
}

#errorMsg {
	width: 100%;
	text-align: center;
	font-size: 24px;
	position: absolute;
	top: 100px;
	left: 0px;
}

#copyright{
	margin-top: 10px;
	text-align: center;
	width:100%;
	color:#666;
}

#copyright a{
	color:#666;
}
